DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:54321/moelian?schema=public"
NUXT_STORAGE_COS_SECRET_ID="SECRET_ID"
NUXT_STORAGE_COS_SECRET_KEY="SECRET_KEY"
NUXT_STORAGE_COS_BUCKET=BUCKET_NAME
NUXT_STORAGE_COS_REGION="REGION"
NUXT_STORAGE_COS_URL="https://addr"
NUXT_SESSION_PASSWORD=PASSWORD
NUXT_NATS_SERVER="ip:port"
NUXT_NATS_TOKEN=""
